<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns ="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  internalLogLevel ="Info"
	  internalLogFile ="c:\temp\internal-nlog-AspNetCore.txt">

<!--enables asp.net core layout rendererd-->
<extensions>
	<add assembly ="Nlog.Web.AspNetCore" />
</extensions>


	<targets>
		<variable name ="logDirectory" value="logs/${shortdate}"/>
		<target name ="file1" xsi:type ="File" fileName="${logDirectory}/file1.txt"/>
		<target
	name ="database"
	xsi:type = "Database"
	dbProvider ="MySqlConnector.MySqlConnection, MySqlConnector">
	<connectionString>Data Source = NomRentals.db</connectionString>
	
<CommandText>
	INSERT INTO 'log'
	(
	'MachineName',
	'Logged',
	'Message',
	'Logger',
	'Callsite',
	'Exception')
	VALUES
	(@MachineName,
	@Logged,
	@Level,
	@Message,
	@Logger,
	@Callsite,
	@Exception);
</CommandText>

<parameter name ="@MachineName" layout="${machinename}"/>
<parameter name ="@Logged" layout="${date}"/>
<parameter name ="@Level" layout="${level}"/>
<parameter name ="@Message" layout="${message}"/>
<parameter name ="@Logger" layout="${logger}"/>
<parameter name ="@Callsite" layout="${callsite}"/>
<parameter name ="@Exception" layout="${exception.tostring}" />
  </target>
</targets>

<!--rules to map from logger name to target-->
<rules>
	<!--All logs, including from Microsoft-->
	<logger name ="*" minlevel ="Trace" writeTo="database"/>
	<logger name ="*" minlevel ="Trace" writeTo="file1"/>
	
	
	<!--Output hosting lifetime messages to console target for faster start-->
	<logger name="Microsoft.Hosting.Lifetime" minlevel ="info" writeTo="data"/>
	
	<!--Skip non-critical Microsoft logs and so log only own logs-->
	(BlackHol
	<logger name ="Microsoft.*" maslevel="Info" final="true"/>
	<logger name ="System.Net.Http.*" maxlevel ="Info" final="true"/>


</rules>
</nlog>



		